body {
  font-family: 'open sans', sans-serif;
  font-size: 1rem;
  }

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
  border: 1px solid #316c31;
  border-radius: 15px;
  }
thead th {
  text-align: center;
  border-bottom: 2px solid#316c31;
  background-color: #dcf2cc;
  }
thead button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.5em;
  margin-bottom: 1px;
  cursor:pointer;
  background-color: #dcf2cc;
  }
tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
  }
tbody tr:hover {
  color: white;
  background: #316c31
  }